SMTP_SMARTHOST=smtp-relay.brevo.com:587
SMTP_FROM=ab476b001@smtp-brevo.com
SMTP_USERNAME=ab476b001@smtp-brevo.com
SMTP_PASSWORD=xsmtpsib-243adc7ad75a478ee92b00fcf181285fc2d082ea67dcbb60b071d99f9232b00c-8dRTzivvMRFD9XDD
ALERT_EMAIL_TO=chandramahesh93900@gmail.com
